@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #121619;  // eerie black
$primary: #f0f66e;      // sunny
$link: #241e4e;         // space cadet
$info: #230c0f;         // licorice

@import "~bulma/bulma.sass";