@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #230c0f;  // licorice
$primary: #f0f66e;      // sunny
$link: #241e4e;         // space cadet

@import "~bulma/bulma.sass";